<style>
  .form-login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }

  .form-login .seperator {
    border-top: 1px solid #d8dee4;
    margin: 20px 0px;
    height: 0px;
    text-align: center;
  }
  .form-login .seperator span {
    background-color: #f3f5f7;
    position: relative;
    top: -10px;
    padding: 0px 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #abb8c4;
  }
  .form-login .seperator .or:before {
    content: "or";
  }
  .form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-login .form-control:focus {
    z-index: 2;
  }
  .form-login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .form-login button[type="submit"] {
    margin-bottom: 10px;
  }
</style>

<div class="container">

  <form class="form-login well">
    <button class="btn btn-lg btn-default btn-block" type="submit">
      <i class="fa fa-github"></i>
      Login with Github
    </button>
    <div class="seperator"><span class="or"></span></div>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control input-lg" placeholder="Email address" required="" autofocus="">

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control input-lg" placeholder="Password" required="">

    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

    <ul class="list-unstyled">
      <li>
        <a href="https://keen.io/forgot-password">Forgot your password?</a>
      </li>
      <li>
        New around here? <a href="https://keen.io/signup">Create an account.</a>
      </li>
    </ul>
  </form>

</div>
