<style>
  .launch-info {
    margin-top: 13px;
    text-align: center;
    font-size: 2em;
    opacity: 0.66;
  }

  .launch-info h2 {
    font-size: 1.8em;
  }

  ul.features li {
    color: #333;
    width: 230px;
    font-size: 1em;
    font-weight: 300;
    padding: 10px 20px 10px 20px;
  }

  ul.features li a {
    color: #333;
  }

  ul.features .fa {
    display: block;
    font-size: 2.75em;
  }

  ul.features .fa.inline-bock {
    display: inline-block;
  }
</style>

<div class="container">
  <!--div data-tbk-vishy-particle-gravity-animation></div-->
  <div data-tbk-vishy-bubbles-animation></div>

  <div class="well launch-info">
    <h2><strong>Vis</strong>hy</h2>

    <p style="margin-bottom: 33px;">
      launches in<br/>
      <span data-tbk-readable-time-countdown
            data-start="1440000000000"
            data-min-unit="second"
            data-interval="1000">
      </span>
    </p>

    <div>
      <ul class="features list-inline list-unstyled">
        <li>
          <i class="fa fa-users"></i>
          <a data-ui-sref="showcase.home">
            Showcase
          </a>
        </li>
        <li>
          <i class="fa fa-tachometer"></i>
          <a data-ui-sref="dashboard.home">
            Dashboard
          </a>
        </li>
        <li>
          <span style="display: block;">
            <i class="fa fa-desktop inline-bock"></i>
            <i class="fa fa-mobile inline-bock"></i>
          </span>
          <a data-ui-sref="showcase.home">
            Demos
          </a>
        </li>
        <li>
          <i class="fa fa-github"></i>
          <a data-ui-sref="showcase.home">
            Github
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
