<style>
  .main-info {
    margin-top: 13px;
    text-align: center;
    /*opacity: 0.9; <- this destroys the z-index: if active #myElement is not over navbar anymore. */
  }

  .main-info h2 {
    font-size: 2.5em;
  }

  #main-showcase #myElement {
    font-size: 1.5em;
    border: 2px solid #333;
    border-radius: 25px;
    position: relative;
    background-color: #e5e5e5;
    cursor: pointer;
    padding: 43px;
    width: 300px;
    margin: 0 auto;
    z-index: 99999;
    opacity: 0.77;
  }

  #main-showcase .vissense-metrics-container {
    font-size: 10px;
    margin: 0px;
    position: fixed;
    right: 42px;
    bottom: 13px;
    width: 500px;
    height: 130px;
    z-index: 99999;
    background-color: rgba(242, 242, 242, 0.9);
  }

  #main-showcase .vissense-metrics-container .vissense-flexbox .box {
    font-size: 12px;
    padding: 6px;
    width: 120px;
    text-align: center;
  }

  .visible-xs .vissense-metrics-container,
  .visible-sm .vissense-metrics-container {
    margin-top: 30px;
    z-index: 1;
    min-width: 600px;

    position: relative !important;
    left: initial !important;
    bottom: initial !important;
    width: initial !important;
    height: initial !important;
  }
</style>


<div class="container">

  <!--div data-tbk-vishy-particle-gravity-animation></div-->
  <div data-tbk-vishy-bubbles-animation></div>

  <div class="main-info" data-ng-controller="ShowcaseCtrl">
    <h2>This element
      <span data-ng-hide="model.running">will be</span>
      <span data-ng-show="model.running">is being</span>
      <strong>monitored</strong>.
    </h2>

    <p style="margin-bottom: 33px;">

    </p>

    <div id="main-showcase">
      <div id="myElement" data-tbk-draggable>
        <div vishy-showcase-default-draggable-element="myElement"></div>
      </div>

      <div class="text-center" style="margin: 20px 0 30px 0;">
        <button class="btn btn-primary btn-lg"
                data-ng-click="start(['myElement']);"
                data-ng-hide="model.running">
          Start recording
        </button>

        <button class="btn btn-danger btn-lg"
                data-ng-click="stop();"
                data-ng-show="model.running">
          Stop recording (auto-stop in {{model.autoStopCountdown}}s)
        </button>
      </div>

      <div data-ng-if="model.running">
        <div class="visible-xs visible-sm"
             data-vissense-metrics-infocard="myElement"
             data-inactive-after="{{model.inactiveAfter}}"
             data-hidden="{{model.hidden}}"></div>
        <div class="visible-md visible-lg"
             data-vissense-metrics-infocard="myElement"
             data-inactive-after="{{model.inactiveAfter}}"
             data-hidden="{{model.hidden}}"></div>
      </div>
    </div>

    <p class="text-center">
      See the
      <a data-ui-sref="showcase.home">
        Showcase
      </a>
      for more information.
    </p>

  </div>

  <div class="row" style="background-color:#3D4A57;margin-top:99px;">
    <div class="col-md-12" style="text-align:center;padding-bottom:13px; height:190px;">
      <h2 style="text-align:center;color:white;font-weight:400;font-size:40px">See it in action!</h2>

      <p style="text-align:center;color:white;font-weight:400;font-size:20px;">Preview and interact with our live demo
        get the real feel of the dashboard in action.</p>
      <a class="btn btn-primary btn-lg"
         data-ui-sref="dashboard.home">
        Live Demo Dashboard
      </a>
    </div>
  </div>

  <script async>

    (function (i, s, o, g, r, a, m) {
      i['VishyObject'] = r;
      i[r] = i[r] || function (key, name) {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//openmrc.herokuapp.com/static/vishy-analytics/dist/vishy-analytics.min.js', 'vishy');

    vishy('init', 'UA-48540954-6', 'auto');

    vishy('create', 'myElement', {
      projectId: '42',
      readKey: '%%vishy.readKey%%',
      writeKey: '%%vishy.writeKey%%',
      protocol: 'https',
      host: 'openmrc.herokuapp.com',
      port: 443,
      requestType: 'xhr'
    });

    vishy('start', function(monitor) {
      console.log('monitor started');
    });
  </script>
</div>

