<div class="container-fluid">

  <style>
    .module-dashboard-top-navigation {
      padding-bottom: 13px;
    }
  </style>

  <!--h3><strong>Vis</strong>hy Dashboard</h3-->

  <div class="module-dashboard-top-navigation">

    <div class="pull-right" tbk-vishy-dashboard-timeframe-select></div>

    <ul class="nav nav-tabs">
      <li data-ui-sref-active="active"><a data-ui-sref="dashboard.home">Home</a></li>
      <li data-ui-sref-active="active">
        <a data-ui-sref="dashboard.overview">
          Overview
        </a>
      </li>
      <li data-ui-sref-active="active">
        <a data-ui-sref="dashboard.initialRequests">
          Initial Requests
        </a>
      </li>
      <li data-ui-sref-active="active">
        <a data-ui-sref="dashboard.percentageTimeTest">
          Status Requests
        </a>
      </li>
      <li data-ui-sref-active="active">
        <a data-ui-sref="dashboard.timeReport">
          Summary Requests
        </a>
      </li>
      <li data-ui-sref-active="active">
        <a data-ui-sref="dashboard.rawData">
          Raw Data
        </a>
      </li>
    </ul>

  </div>

  <ui-view/>

</div>
