<style>

  .landing-content {
    background-color: #3d4a57;
    color: #f4f4f4;
    font-size: 0;
    margin: 0;
    padding: 60px 7%;
    text-align: center;
  }

  .landing-content .block-content {
    margin-bottom: 33px;
  }

  .landing-content h1 {
    margin: 3px 0 47px 0;
  }

  .landing-content .block-content .block:first-of-type,
  .landing-content .block-content .block:last-of-type {
    margin: 0;
  }

  .landing-content .block-content .block {
    display: inline-block;
    font-size: 15px;
    margin: 0 5%;
    width: 30%;
  }

  .landing-content .block-content .fa {
    font-size: 51px;
  }

  .landing-content .block-content h3 {
    font-color: #ccc;
  }
</style>

<div class="container">

  <h3><strong>Vis</strong>hy Product Tour</h3>

  <!--a class="btn btn-primary btn-lg" data-ui-sref="showcase.home">
    Try the Demo
  </a-->

  <div class="landing-content">
    <h1 class="centered">How It Works</h1>

    <div class="block-content">
      <div class="block">
        <i class="fa fa-code"></i>
        <h3>Extensible client</h3>
        <p>Our client library is highly extensible and provides an easy way to
          monitor any interesting event.</p>
      </div>
      <div class="block">
        <i class="fa fa-database"></i>
        <h3>Complete Control</h3>
        <p>
          Our server software enhances your data and gives you full control over how and where you want to store it.
        </p>
      </div>
      <div class="block">
        <i class="fa fa-bar-chart"></i>
        <h3>Track &amp; Report</h3>
        <p>Try a few of numerous data enrichment plugins and transform data into knowledge with customizable daily reports.</p>
      </div>
    </div>

    <a class="btn btn-primary btn-lg" data-ui-sref="dashboard.home">
      See Demo Dashboard
    </a>
  </div>
</div>
